@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    background-color: rgb(255, 255, 255);
}
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style: none;
    text-decoration: none;
}

.Logo{
    background: transparent;
}


.sales{
    border-radius: 10%;
}

.user-menu {
    position: relative;
    display: inline-block;
}

.profile-pic {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    border-radius: 15vw;
    object-fit: cover;
    border: 1px solid #000000;
    cursor: pointer;
}

.menu {
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 220px;
}

.menu a {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: background 0.3s ease;
}

.menu a i {
    margin-right: 10px;
    font-size: 16px;
}

.menu a:hover {
    background-color: #333;
}

.menu.hidden {
    display: none;
}

.menu.visible {
    display: block;
}
.inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px; 
}

/*nossa logo*/
.logo {
    width: 9vw;
    height: 8vw;
}

/*Hora marcada*/
.Marca {
    margin-left: -5vw;
    font-weight: 600;
    font-size: 2.5vw;
}

/*Foto do usuário*/
.usuario {
    width: 89vw;
    height: 89vw;
    border-radius: 50%;
    background: #D9D9D9;;
    overflow: hidden; 
    cursor: pointer;
}




/*Linha Do final do header*/
.linha{
    width: 84.3rem;
    height: 3px;
    background-color: orangered;
}

.Lab{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-size: 1.5vw;
    font-weight: 400;
}




/*Carrosel*/
span{
    color: black;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

/*Voltar Direito*/
.VoltarDireito {
    transform: translateY(-50%);
    background-color: transparent;
    transform: translateY(-50%) rotate(180deg); 
}

.VoltarDireito img {
    width: 2.2vw;
    height: 2.2vw;
    filter: invert(50%); /* Torna a imagem branca */
    border-radius: 10%;
    cursor: pointer; 
}




/*Footer*/
.Final {
    position: absolute;
    width: 100%;
    height: 18%;
    background-color: #c9c9c9; 
}

.Rodape { 
    position: relative;
    width: 55%;
    height: 100%; 
    background: transparent; 
    color: #000;
    font-size: 16px;
    display: flex; 
    align-items: center;
}

.Info {
    display: flex;
    flex-direction: column; 
    margin-left: 20px; 
}

.E-mail, .Contato, .Local {
    font-weight: 600;
}

.Local, .Telefone, .Email, 
.E-mail, .Endereco, .Local, span {
    background-color: #c9c9c9; 
}

